<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" routerLink = "/home">
        <img
        width="40"
        alt="Domotica Logo"
        src="https://www.elmospa.com/media/zoo/images/Icona_Home_Management_c2f7c9cbb634bad59afe0665dd9b0a7f.png"
      />
        Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link " href="#" *ngIf="sesion()" routerLink="/humedades" routerLinkActive="active">Humedades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/temperaturas" *ngIf="sesion()" routerLinkActive="active">Temperaturas</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive" >
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item ">
            <a class="nav-link" href="#" routerLink="/sesion" *ngIf="!sesion()" (click)="alertService.limpiarAlert()" routerLinkActive="active">Inicio sesión</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" routerLink="/info" data-bs-toggle="dropdown" *ngIf="sesion()" (click)="alertService.limpiarAlert()" routerLinkActive="active">Mi cuenta</a>
            <ul class =dropdown-menu>
              <li><button class="dropdown-item" (click) = "cerrarSesion()" >Cerrar sesión</button></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  