<body class="custom-body">
    <section class="h-100 gradient-form " style="background-color: transparent">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-50 transparent-div">
                <div class="row g-2">
                    <div  *ngIf="admin()" class="col-md-3">
                      <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid" [(ngModel)]="opcionElegidaUsuario" (change)="opcionSeleccionadaUsuario()">
                            <option selected>Abre para seleccionar</option>
                            <option *ngFor = "let usuario of usuarios" [value]="usuario.id">{{usuario.name}}</option>
                          </select>
                        <label for="floatingInputGrid">Selecciona el usuario que desee</label>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-floating">
                        <select class="form-select" id="floatingSelectGrid" [(ngModel)]="opcionElegida" (change)="opcionSeleccionada()">
                          <option value = "" selected>Todos</option>
                          <option *ngFor = "let option of sensoresHumedad" [value]="option">{{option}}</option>
                        </select>
                        <label for="floatingSelectGrid">Selecciona el dispositivo que desee</label>
                      </div>
                    </div>
                  </div>
                <div class="col-xl-12">
                    <div *ngFor="let sensor of sensores" class="card rounded-3 text-black my-5">

                        <div *ngIf="sensor.mensaje == null; else elseBlock1" class="row">
                            <h1 class = "text-center">
                                {{sensor.nombre}}</h1>
                            <div class="col-lg-4">
                                <div class="card-body p-md-5 mx-md-4">
                                    <app-hygrometer [valorActual]="sensor.estadisticas.valorActual"></app-hygrometer>
                                </div>
                            </div>
                            <div class="col-lg-4 ">
                                <div class="card-body p-md-5 mx-md-4 ml-auto">
                                    <div style="position: relative;">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Estado</th>
                                                    <th>Mínimo</th>
                                                    <th>Máximo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Demasiado seco</td>
                                                    <td>0 %</td>
                                                    <td>40 %</td>
                                                </tr>
                                                <tr>
                                                    <td>Ideal</td>
                                                    <td>40 %</td>
                                                    <td>60 %</td>
                                                </tr>
                                                <tr>
                                                    <td>Demasiado humedo</td>
                                                    <td>60 %</td>
                                                    <td>100 %</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card-body p-md-5 mx-md-4">
                                    <div class="text-right">
                                        <h4 class="mt-1 mb-5 pb-1">Mis estadisticas:
                                        </h4>
                                        <li type="circle">Última medida:
                                            {{sensor.estadisticas.valorActual}}
                                            %</li>
                                        <li type="circle">Máxima:
                                            {{sensor.estadisticas.valorMax}}
                                            %</li>
                                        <li type="circle">Mínima:
                                            {{sensor.estadisticas.valorMin}}
                                            %</li>
                                        <li type="circle">Media:
                                            {{sensor.estadisticas.media}}
                                            %</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #elseBlock1>
                            <h1 class = "text-center">
                                {{sensor.nombre}}</h1>
                            <div class="col-lg-12">
                                <div class="card-body p-md-3 mx-md-3 alert alert-danger">
                                        <strong>Error:</strong> {{sensor.mensaje}}
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<app-alert></app-alert>

<!--<div>
    <canvas id="canvas">{{chart}}</canvas>
</div>-->
